.container {
  font-family: var(--font-family);
  max-width: 1200px;
  margin: 0 auto;
  padding: 2em;

  h1 {
    color: var(--blue-600);
  }

  .form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;

    .row {
      min-width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 1rem;
      max-width: fit-content;
    }
  }

  button {
    float: right;
  }
}
