<div class="container">
  <h1>Cadastrar afiliado</h1>
  <form class="form" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <input
      id="fullName-input"
      type="text"
      pInputText
      placeholder="Nome completo"
      [(ngModel)]="userName"
      name="name"
    />

    <div class="row">
      <p-dropdown
        placeholder="Recebe bolsa família?"
        [options]="yesNo"
        [(ngModel)]="aux"
        optionLabel="label"
        name="aux"
      ></p-dropdown>
    </div>

    <div class="row">
      <p-inputMask
        [style]="{ width: '110px' }"
        mask="99.999.999"
        [(ngModel)]="userRG"
        placeholder="RG"
        name="rg"
      ></p-inputMask>

      <p-inputMask
        [style]="{ width: '140px' }"
        mask="999.999.999-99"
        [(ngModel)]="userCPF"
        placeholder="CPF"
        name="cpf"
      ></p-inputMask>

      <p-dropdown
        [style]="{ width: '150px' }"
        placeholder="Sexo"
        [options]="sexList"
        [(ngModel)]="userSex"
        optionLabel="label"
        name="userSex"
      ></p-dropdown>

      <input
        [style]="{ width: '100px' }"
        id="cod-input"
        type="text"
        pInputText
        placeholder="Cód"
        [(ngModel)]="userId"
        [pKeyFilter]="'pint'"
        name="cod"
      />
    </div>

    <div class="row">
      <p-inputMask
        [style]="{ width: '120px' }"
        mask="99999-999"
        [(ngModel)]="cep"
        placeholder="CEP"
        name="cep"
      ></p-inputMask>

      <input
        [style]="{ width: '90px' }"
        id="state"
        type="text"
        pInputText
        placeholder="Estado"
        [(ngModel)]="state"
        name="state"
      />

      <input
        [style]="{ width: '300px' }"
        id="city-input"
        type="text"
        pInputText
        placeholder="Cidade"
        [(ngModel)]="userWork"
        name="userWork"
      />
    </div>

    <div class="row">
      <input
        id="work-input"
        type="text"
        pInputText
        placeholder="Profissão"
        [(ngModel)]="userWork"
        name="userWork"
      />

      <p-dropdown
        [style]="{ width: '333px' }"
        placeholder="Religião"
        [options]="religionList"
        [(ngModel)]="religion"
        optionLabel="label"
        name="religion"
      ></p-dropdown>
    </div>

    <div class="row">
      <p-dropdown
        [style]="{ width: '234px' }"
        placeholder="Qual bairro reside?"
        [options]="placeList"
        [(ngModel)]="place"
        optionLabel="label"
        name="place"
      ></p-dropdown>

      <input
        [style]="{ width: '300px' }"
        id="street-input"
        type="text"
        pInputText
        placeholder="Rua"
        [(ngModel)]="street"
        name="street"
      />
    </div>

    <div class="row">
      <p-dropdown
        [style]="{ width: '300px' }"
        placeholder="Grau de instrução"
        [options]="gradeList"
        [(ngModel)]="userGrade"
        optionLabel="label"
        name="grade"
      ></p-dropdown>

      <p-calendar
        [style]="{ width: '230px' }"
        [showIcon]="true"
        dateFormat="dd/mm/yy"
        [(ngModel)]="userBirthDate"
        [readonlyInput]="true"
        inputId="birthDate-input"
        placeholder="Data de nascimento"
        name="birthday"
      ></p-calendar>
    </div>

    <div class="row">
      <input
        [style]="{ width: '100px' }"
        id="number-input"
        type="text"
        pInputText
        placeholder="Número"
        [(ngModel)]="numberStreet"
        [pKeyFilter]="'pint'"
        name="numberStreet"
      />

      <input
        [style]="{ width: '415px' }"
        id="complement-input"
        type="text"
        pInputText
        placeholder="Complemento"
        [(ngModel)]="complement"
        name="complement"
      />
    </div>

    <div class="row">
      <p-dropdown
        placeholder="Estado civil"
        [options]="civilStateList"
        [(ngModel)]="userStatus"
        optionLabel="label"
        name="civilState"
      ></p-dropdown>

      <p-dropdown
        placeholder="Residência"
        [options]="residenceList"
        [(ngModel)]="residenceType"
        optionLabel="label"
        name="residenceType"
      ></p-dropdown>

      <p-inputMask
        mask="(99) 9 9999-9999"
        [(ngModel)]="userPhone"
        placeholder=" N° (81) 9 1234-1234"
        name="phone"
      ></p-inputMask>
    </div>

    <div class="row">
      <input
        [style]="{ width: '300px' }"
        id="email-input"
        type="text"
        pInputText
        placeholder="Email"
        [(ngModel)]="userEmail"
        [pKeyFilter]="'email'"
        name="email"
      />

      <p-calendar
        [style]="{ width: '220px' }"
        [showIcon]="true"
        dateFormat="dd/mm/yy"
        [(ngModel)]="userStartDate"
        [readonlyInput]="true"
        inputId="startDate-input"
        placeholder="Data de admissão"
        name="startDate"
      ></p-calendar>
    </div>
  </form>

  <button pButton type="submit" disabled="!f.valid">Cadastrar</button>
</div>
