<div class="container">
  <h1>Cadastrar afiliado</h1>
  <form class="form" (ngSubmit)="onSubmit()" [formGroup]="form">
    <div formGroupName="person">
      <input
        [style]="{ width: '100%' }"
        id="fullName-input"
        type="text"
        pInputText
        placeholder="Nome completo"
        formControlName="name"
      />
    </div>

    <div class="row">
      <p-dropdown
        placeholder="Recebe bolsa família?"
        [options]="yesNo"
        optionLabel="label"
        formControlName="aux"
      ></p-dropdown>

      <p-dropdown
        placeholder="Renda familiar"
        [options]="salaryList"
        optionLabel="label"
        formControlName="familiarSalary"
      ></p-dropdown>
    </div>

    <div class="row" formGroupName="person">
      <p-inputMask
        [style]="{ width: '110px' }"
        mask="99.999.999"
        placeholder="RG"
        formControlName="rg"
      ></p-inputMask>

      <p-inputMask
        [style]="{ width: '140px' }"
        mask="999.999.999-99"
        placeholder="CPF"
        formControlName="cpf"
      ></p-inputMask>

      <p-dropdown
        [style]="{ width: '150px' }"
        placeholder="Sexo"
        [options]="sexList"
        optionLabel="label"
        formControlName="sex"
      ></p-dropdown>

      <input
        [style]="{ width: '100px' }"
        id="cod-input"
        type="text"
        pInputText
        placeholder="Cód"
        [pKeyFilter]="'pint'"
        formControlName="cod"
      />
    </div>

    <div class="row" formGroupName="address">
      <p-inputMask
        [style]="{ width: '120px' }"
        mask="99999-999"
        placeholder="CEP"
        formControlName="cep"
      ></p-inputMask>

      <input
        [style]="{ width: '90px' }"
        id="state"
        type="text"
        pInputText
        placeholder="Estado"
        formControlName="state"
      />

      <input
        [style]="{ width: '300px' }"
        id="city-input"
        type="text"
        pInputText
        placeholder="Cidade"
        formControlName="city"
      />
    </div>

    <div class="row">
      <input
        id="work-input"
        type="text"
        pInputText
        placeholder="Profissão"
        formControlName="work"
      />

      <p-dropdown
        [style]="{ width: '333px' }"
        placeholder="Religião"
        [options]="religionList"
        optionLabel="label"
        formControlName="religion"
      ></p-dropdown>
    </div>

    <div class="row" formGroupName="address">
      <p-dropdown
        [style]="{ width: '234px' }"
        placeholder="Qual bairro reside?"
        [options]="placeList"
        optionLabel="label"
        formControlName="bairro"
      ></p-dropdown>

      <input
        [style]="{ width: '300px' }"
        id="street-input"
        type="text"
        pInputText
        placeholder="Rua"
        formControlName="street"
      />
    </div>

    <div class="row" formGroupName="person">
      <p-dropdown
        [style]="{ width: '300px' }"
        placeholder="Grau de instrução"
        [options]="gradeList"
        optionLabel="label"
        formControlName="grade"
      ></p-dropdown>

      <p-calendar
        [style]="{ width: '230px' }"
        [showIcon]="true"
        dateFormat="dd/mm/yy"
        [readonlyInput]="true"
        inputId="birthDate-input"
        placeholder="Data de nascimento"
        formControlName="birthDate"
      ></p-calendar>
    </div>

    <div class="row" formGroupName="address">
      <input
        [style]="{ width: '100px' }"
        id="number-input"
        type="text"
        pInputText
        placeholder="Número"
        [pKeyFilter]="'pint'"
        formControlName="numberStreet"
      />

      <input
        [style]="{ width: '415px' }"
        id="complement-input"
        type="text"
        pInputText
        placeholder="Complemento"
        formControlName="complement"
      />
    </div>

    <div class="row">
      <div formGroupName="person">
        <p-dropdown
          placeholder="Estado civil"
          [options]="civilStateList"
          optionLabel="label"
          formControlName="civilState"
        ></p-dropdown>
      </div>

      <p-dropdown
        placeholder="Residência"
        [options]="residenceList"
        optionLabel="label"
        formControlName="residenceType"
      ></p-dropdown>

      <p-inputMask
        mask="(99) 9 9999-9999"
        placeholder=" N° (81) 9 1234-1234"
        formControlName="phone"
      ></p-inputMask>
    </div>

    <div class="row">
      <input
        [style]="{ width: '300px' }"
        id="email-input"
        type="text"
        pInputText
        placeholder="Email"
        [pKeyFilter]="'email'"
        formControlName="email"
      />

      <p-calendar
        [style]="{ width: '220px' }"
        [showIcon]="true"
        dateFormat="dd/mm/yy"
        [readonlyInput]="true"
        inputId="startDate-input"
        placeholder="Data de admissão"
        formControlName="startDate"
      ></p-calendar>
    </div>
  </form>

  <button pButton type="submit" (click)="onSubmit()">Cadastrar</button>
</div>
