<app-header></app-header>
<div user-page>
  <main>
    <h1>Bem-vindo, {{ name }}!</h1>

    <div class="flex gap-3">
      <h2>Situação:</h2>
      <h2
        class="redColor"
        [ngClass]="{ greenColor: situation === 'Ativo' }"
      >
        {{ situation }}
      </h2>
    </div>

    <h1>Histórico</h1>
    <p-table
      #dt
      [value]="userData"
      responsiveLayout="scroll"
      dataKey="id"
      [rows]="10"
      [showCurrentPageReport]="true"
      [rowsPerPageOptions]="[10, 25, 50]"
      styleClass="p-datatable-gridlines"
      [paginator]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    >
      <ng-template pTemplate="header">
        <tr>
          <th>Vencimento</th>
          <th>Pagamento</th>
          <th>Status</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-user>
        <tr>
          <td>{{ user.dueDate }}</td>
          <td>{{ user.paymentDate }}</td>
          <td>{{ user.status }}</td>
        </tr>
      </ng-template>
    </p-table>
  </main>
</div>