<header>
  <div class="header">
    <div class="flex gap-3 align-items-center">
      <p-skeleton size="3rem"></p-skeleton>
      <span>Amazonvisa</span>
    </div>

    <div class="nav-menu" *ngIf="url === 'user'">
      <p-button type="submit" title="situação">
        Situação
      </p-button>

      <p-button type="submit" title="perfil">
        Perfil
      </p-button>

      <p-button type="submit" title="parceiros">
        Parceiros
      </p-button>

      <p-button type="submit" title="sugestão e denúncia">
        Sugestão e Denúncias
      </p-button>

      <button
        pButton
        pRipple
        type="button"
        class="p-button-lg p-button-outlined p-button-rounded"
        icon="pi pi-user"
      ></button>
    </div>

    <div class="nav-menu" *ngIf="url === 'partner'">
      <p-button type="submit" title="perfil">
        Perfil e Busca
      </p-button>

      <p-button
        pButton
        pRipple
        type="button"
        class="p-button-lg p-button-outlined p-button-rounded"
        icon="pi pi-user"
      ></p-button>
    </div>
  </div>
</header>