<main>
  <header>
    <h1>Cadastrar Associado</h1>
    <button
      pButton
      label="Voltar"
      routerLink="/list-user"
      class="p-button p-component ml-auto align-self-center"
    ></button>
  </header>
  <form class="form" (ngSubmit)="onSubmit()" [formGroup]="form">
    <div class="table">
      <h3>Dados pessoais</h3>
      <div class="row" formGroupName="person">
        <input
          [style]="{ width: '50rem' }"
          id="fullName-input"
          type="text"
          pInputText
          placeholder="Nome completo"
          formControlName="name"
        />

        <p-calendar
          [style]="{ width: '230px' }"
          [showIcon]="true"
          dateFormat="dd/mm/yy"
          [readonlyInput]="true"
          inputId="birthDate-input"
          placeholder="Data de nascimento"
          formControlName="birthDate"
        ></p-calendar>
      </div>

      <div class="row" formGroupName="person">
        <div class="row-children">
          <p-inputMask
            [style]="{ width: '110px' }"
            mask="99.999.999"
            placeholder="RG"
            formControlName="rg"
          ></p-inputMask>

          <p-inputMask
            [style]="{ width: '140px' }"
            mask="999.999.999-99"
            placeholder="CPF"
            formControlName="cpf"
          ></p-inputMask>
        </div>

        <div class="row-children">
          <p-dropdown
            [style]="{ width: '150px', height: '100%', alignItems: 'center' }"
            placeholder="Sexo"
            [options]="formList[5]"
            optionLabel="label"
            formControlName="sex"
          ></p-dropdown>

          <p-dropdown
            [style]="{ width: '200px', height: '100%', alignItems: 'center' }"
            placeholder="Estado civil"
            [options]="formList[0]"
            optionLabel="label"
            formControlName="civilState"
          ></p-dropdown>

          <p-dropdown
            [style]="{ width: '300px', height: '100%', alignItems: 'center' }"
            placeholder="Grau de instrução"
            [options]="formList[1]"
            optionLabel="label"
            formControlName="grade"
          ></p-dropdown>
  
        </div>
      </div>
      
      <div class="row">
       <p-dropdown
          [style]="{ width: '333px', height: '100%' }"
          placeholder="Religião"
          [options]="formList[2]"
          optionLabel="label"
          formControlName="religion"
        ></p-dropdown>

        <input
          [style]="{ width: '310px' }"
          id="email-input"
          type="text"
          pInputText
          placeholder="Email"
          [pKeyFilter]="'email'"
          formControlName="email"
        />

        <p-inputMask
          mask="99 9999-9999"
          placeholder="Tel Fixo: 81 1234-1234"
          formControlName="fixPhone"
        ></p-inputMask>

        <p-calendar
          [style]="{ width: '220px' }"
          [showIcon]="true"
          dateFormat="dd/mm/yy"
          [readonlyInput]="true"
          inputId="startDate-input"
          placeholder="Data de admissão"
          formControlName="startDate"
        ></p-calendar>
      </div>

      <div class="row-children">
        <input
          [style]="{ width: '330px'}"
          id="work-input"
          type="text"
          pInputText
          placeholder="Profissão"
          formControlName="work"
        />

        <p-inputMask
          mask="99 9999-9999"
          placeholder="Telefone Celular 1"
          formControlName="phone"
        ></p-inputMask>

        <p-inputMask
          mask="99 9999-9999"
          placeholder="Telefone Celular 2"
          formControlName="phone"
        ></p-inputMask>
      </div>

      <div 
        *ngIf="form.value.person.civilState.label === formList[0][4].value
        ||form.value.person.civilState.label === formList[0][1].value"
      >
        <h3>Dados do cônjugue</h3>
        <div class="table" formGroupName="relationship">
          <div class="row">
            <input
              [style]="{ width: '50rem' }"
              id="fullName-input"
              type="text"
              pInputText
              placeholder="Nome completo"
              formControlName="name"
            />

            <p-calendar
              [style]="{ width: '230px' }"
              [showIcon]="true"
              dateFormat="dd/mm/yy"
              [readonlyInput]="true"
              inputId="birthDate-input"
              placeholder="Data de nascimento"
              formControlName="birthDate"
            ></p-calendar>
          </div>

          <div class="row">
            <div class="row-children">
              <p-inputMask
                [style]="{ width: '110px' }"
                mask="99.999.999"
                placeholder="RG"
                formControlName="rg"
              ></p-inputMask>

              <p-inputMask
                [style]="{ width: '140px' }"
                mask="999.999.999-99"
                placeholder="CPF"
                formControlName="cpf"
              ></p-inputMask>
            </div>

            <div class="row-children">
              <p-dropdown
                [style]="{ width: '300px', height: '100%' }"
                placeholder="Grau de instrução"
                [options]="formList[1]"
                optionLabel="label"
                formControlName="grade"
              ></p-dropdown>

              <input
                [style]="{ width: '330px' }"
                id="work-input"
                type="text"
                pInputText
                placeholder="Profissão"
                formControlName="work"
              />
            </div>
         </div>

          <div class="row-children">
            <p-dropdown
              [style]="{ width: '250px', height: '100%', alignItems: 'center' }"
              placeholder="Estado"
              [options]="formList[7]"
              optionLabel="label"
              formControlName="state"
            ></p-dropdown>

            <input
              [style]="{ width: '300px' }"
              id="city-input"
              type="text"
              pInputText
              placeholder="Cidade"
              formControlName="city"
            />
          </div>
        </div>
      </div>

      <h3>Endereço</h3>
      <div class="row" formGroupName="address">
        <p-inputMask
          [style]="{ width: '110px' }"
          mask="99999-999"
          placeholder="CEP"
          formControlName="cep"
        ></p-inputMask>

        <p-dropdown
          [style]="{ width: '250px', height: '100%', alignItems: 'center' }"
          placeholder="Estado"
          [options]="formList[7]"
          optionLabel="label"
          formControlName="state"
        ></p-dropdown>

        <input
          [style]="{ width: '330px'} "
          id="city-input"
          type="text"
          pInputText
          placeholder="Cidade"
          formControlName="city"
        />

        <input
          [style]="{ width: '330px'} "
          id="burgh"
          type="text"
          pInputText
          placeholder="Bairro"
          formControlName="burgh"
        />
      </div>

      <div class="row" formGroupName="address">
        <input
          [style]="{ width: '380px'} "
          id="street-input"
          type="text"
          pInputText
          placeholder="Rua"
          formControlName="street"
        />

        <input
          [style]="{ width: '380px'} "
          id="complement-input"
          type="text"
          pInputText
          placeholder="Complemento"
          formControlName="complement"
        />

        <input
          [style]="{ width: '100px' }"
          id="number-input"
          type="text"
          pInputText
          placeholder="Número"
          [pKeyFilter]="'pint'"
          formControlName="streetNumber"
        />

        <p-dropdown
          [style]="{ width: '200px', height: '100%'}"
          placeholder="Residência"
          [options]="formList[3]"
          optionLabel="label"
          formControlName="residenceType"
        ></p-dropdown>
      </div>

      <p-calendar
        [style]="{ width: '230px' }"
        [showIcon]="true"
        dateFormat="dd/mm/yy"
        [readonlyInput]="true"
        inputId="livingDate-input"
        placeholder="Mora no bairro desde"
        formControlName="livingDate"
      ></p-calendar>

      <h3>Família e dependentes</h3>

      <div class="row">
        <div class="row-children">
          <span>Recebe bolsa família?</span>
          <p-dropdown
            placeholder="Não"
            [options]="formList[6]"
            optionLabel="label"
            formControlName="aux"
          ></p-dropdown>
        </div>

        <div class="row-children">
          <span>Há outros moradores na casa além da família? </span>
          <p-checkbox
            [ngModelOptions]="{ standalone: true }"
            [binary]="true"
            [(ngModel)]="activeResidents"
          ></p-checkbox>

          <span>Quantos?</span>

          <p-inputMask
            [style]="{ width: '50px' }"
            [disabled]="!activeResidents"
            mask="99"
            placeholder="1"
            formControlName="residents"
          ></p-inputMask>
        </div>

        <p-dropdown
          placeholder="Renda familiar"
          [options]="formList[4]"
          optionLabel="label"
          formControlName="familiarSalary"
        ></p-dropdown>
      </div>

      <hr>
      <div class="row-children">
        <span>Dependentes:</span>
        <button
          iconPos="left"
          class="p-button-sm"
          pButton
          type="button"
          (click)="changeOthers(true)"
        >
          Adicionar dependente
        </button>
        <button
          iconPos="left"
          class="p-button-sm"
          pButton
          type="button"
          (click)="changeOthers(false)"
        >
          Remover dependente
        </button>
      </div>
    </div> 

    <div class="table" [style]="{ marginTop: '1rem' }" formArrayName="dependents">
      <div
        *ngFor="
          let _ of [].constructor(form.controls['dependents'].value.length);
          let i = index
        "
      >
        <div [formGroupName]="i">
          <input
            [style]="{ width: '100%' }"
            id="fullName-input"
            type="text"
            pInputText
            placeholder="Nome do dependente"
            formControlName="name"
          />

          <div class="row-children" [style]="{ marginTop: '1rem' }">
            <p-dropdown
              [style]="{ width: '300px' }"
              placeholder="Grau de instrução"
              [options]="formList[1]"
              optionLabel="label"
              formControlName="grade"
            ></p-dropdown>

            <p-calendar
              [style]="{ width: '230px' }"
              [showIcon]="true"
              dateFormat="dd/mm/yy"
              [readonlyInput]="true"
              inputId="birthDate-input"
              placeholder="Data de nascimento"
              formControlName="birthDate"
            ></p-calendar>
          </div>
        </div>
      </div>
    </div>
  </form>

  <button
    pButton
    class="button-submit p-button p-component"
    type="submit"
    (click)="onSubmit()"
    label="Cadastrar"
  ></button>
</main>
