main {
  header {
    display: flex;

    h1 {
      color: var(--blue-600);
    }
  }

  .form {
    .table {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    .row-children {
      display: flex;
      gap: 1rem;
      height: 100%;
      align-items: center;

      span {
        color: #6c757d;
        font-size: 1rem;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
          Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      }
    }

    .row {
      min-width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 1rem;
      max-width: fit-content;
    }
  }

  .button-submit {
    margin-bottom: 1rem;
    float: right;
  }
}
