<p-dialog
  header="Mudar de página"
  [(visible)]="modalVisibility"
  [style]="{
    width: '500px'
  }"
>
  <p-button
    styleClass="p-button-warning"
    label="Cadastrar afiliado"
    icon="pi pi-user-plus"
    iconPos="left"
    routerLink="/create-user"
  ></p-button>

  <p-button
    styleClass="p-button-warning"
    label="Cadastrar parceiro"
    icon="pi pi-book"
    iconPos="left"
    routerLink="/create-partner"
    [style]="{
      float: 'right'
    }"
  ></p-button>
  <p-divider align="left" type="dashed">Tabelas</p-divider>
  <p-button
    styleClass="p-button-success"
    label="Visualizar afiliado"
    icon="pi pi-users"
    iconPos="left"
    routerLink="/list-user"
  ></p-button>
  <p-button
    styleClass="p-button-success"
    label="Visualizar parceiros"
    icon="pi pi-home"
    iconPos="left"
    routerLink="/list-partner"
    [style]="{
      float: 'right'
    }"
  ></p-button>
</p-dialog>
