<header>
  <span>Amazonvisa</span>
  <p>
    Associação de Moradores e Amigos <br />
    da Zona Norte da Vitória de Santão Antão
  </p>

  <button
    pButton
    pRipple
    type="button"
    class="p-button-lg p-button-outlined p-button-rounded"
    icon="pi pi-user"
    routerLink="login"
  ></button>
</header>

<main>
  <div class="imgDiv">
    <p-skeleton
      animation="none"
      shape="rectangle"
      width="25rem"
      height="15rem"
    ></p-skeleton>
    <span>
      <h2>Imagem da equipe Amazonvisa e descrição</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id provident
        autem voluptatum eos delectus aperiam quo temporibus eveniet unde
        nesciunt harum eligendi dolorem, exercitationem quia labore quibusdam
        magnam et ipsa?
      </p>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id provident
        autem voluptatum eos delectus aperiam quo temporibus eveniet unde
        nesciunt harum eligendi dolorem, exercitationem quia labore quibusdam
        magnam et ipsa?
      </p>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id provident
        autem voluptatum eos delectus aperiam quo temporibus eveniet unde
        nesciunt harum eligendi dolorem, exercitationem quia labore quibusdam
        magnam et ipsa?
      </p>
    </span>
  </div>

  <h1>Objetivos</h1>
  <div class="goals">
    <span>
      <p-skeleton shape="circle" size="5rem"></p-skeleton>
      Nome do objetivo
      <p>
        Illum minima eligendi iste. Quis, commodi nobis itaque deleniti rerum
        quas, eos facere repellendus debitis, voluptate iure iusto ex dicta
        labore fugit.
      </p>
    </span>
    <span>
      <p-skeleton shape="circle" size="5rem"></p-skeleton>
      Nome do objetivo
      <p>
        Illum minima eligendi iste. Quis, commodi nobis itaque deleniti rerum
        quas, eos facere repellendus debitis, voluptate iure iusto ex dicta
        labore fugit.
      </p>
    </span>
    <span>
      <p-skeleton shape="circle" size="5rem"></p-skeleton>
      Nome do objetivo
      <p>
        Illum minima eligendi iste. Quis, commodi nobis itaque deleniti rerum
        quas, eos facere repellendus debitis, voluptate iure iusto ex dicta
        labore fugit.
      </p>
    </span>
    <span>
      <p-skeleton shape="circle" size="5rem"></p-skeleton>
      Nome do objetivo
      <p>
        Illum minima eligendi iste. Quis, commodi nobis itaque deleniti rerum
        quas, eos facere repellendus debitis, voluptate iure iusto ex dicta
        labore fugit.
      </p>
    </span>
    <span>
      <p-skeleton shape="circle" size="5rem"></p-skeleton>
      Nome do objetivo
      <p>
        Illum minima eligendi iste. Quis, commodi nobis itaque deleniti rerum
        quas, eos facere repellendus debitis, voluptate iure iusto ex dicta
        labore fugit.
      </p>
    </span>
  </div>

  <h1>Parceiros</h1>
  <div class="partners">
    <p-skeleton size="6rem"></p-skeleton>
    <p-skeleton shape="circle" size="6rem"></p-skeleton>
    <p-skeleton borderRadius="0" size="6rem"></p-skeleton>
    <p-skeleton shape="circle" size="6rem"></p-skeleton>
    <p-skeleton size="6rem"></p-skeleton>
    <p-skeleton shape="circle" size="6rem"></p-skeleton>
    <p-skeleton borderRadius="0" size="6rem"></p-skeleton>
    <p-skeleton shape="circle" size="6rem"></p-skeleton>
    <p-skeleton size="6rem"></p-skeleton>
    <p-skeleton shape="circle" size="6rem"></p-skeleton>
  </div>

  <footer>
    <div class="band">
      <p-skeleton width="4rem" height="3rem" animation="none"></p-skeleton>
      <p>Amazonvisa</p>
    </div>

    <div class="links">
      <a href="https://www.instagram.com/amazonvisa2022/" target="_blank">
        <i
          class="pi pi-instagram"
          [style]="{ color: 'var(--pink-500)' }"
          style="font-size: 2rem"
        >
        </i>
      </a>

      <a
        href="https://api.whatsapp.com/send?phone=81999999999&text='Olá, obtive este número do site Amazonvisa'"
        target="_blank"
        rel="noopener noreferrer"
        ><i
          class="pi pi-whatsapp"
          [style]="{ color: 'var(--green-500)' }"
          style="font-size: 2rem"
        ></i
      ></a>

      <a
        href="http://github.com/abagatinho/amazonvisa"
        target="_blank"
        rel="noopener noreferrer"
      >
        <i class="pi pi-github" style="font-size: 2rem"></i>
      </a>
    </div>
  </footer>
</main>
