p-panel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5rem;

  .content {
    display: flex;
    justify-content: space-around;
    gap: 2rem;

    .img-box {
      width: 588px;
      height: 465px;
      border: 1px dashed #333333;
    }

    .login-fields {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: column;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      padding: 2rem;

      form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
      }
    }
  }
}
