main {
  font-family: var(--font-family);
  max-width: 1200px;
  margin: 1rem auto; 
  padding: 2rem;

  font-size: 1.2rem;

  .flex {
    display: inline-flex;
    gap: 1rem;
  }

  .flex-d {
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }

  .bold {
    font-weight: bold;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .8rem;
  }
}
