main {
  .flex {
    gap: 1rem;
  }

  .flex-d {
    display: flex;
    flex-direction: column;
    gap: .5rem;
  }

  .bold {
    font-weight: bold;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .8rem;
  }
}
