<div class="app-user-table">
  <header>
    <h1>Painel Amazonvisa</h1>

    <h2>Caixa {{ moneyBox | currency: "BRL" }}</h2>

    <button
      (click)="changeModalVisibility()"
      pButton
      label="Mudar de página"
      class="p-button p-component align-self-center"
    ></button>
  </header>

  <main role="main">
    <p-table
      #dt
      [value]="users"
      responsiveLayout="scroll"
      dataKey="id"
      [rows]="10"
      [showCurrentPageReport]="true"
      [rowsPerPageOptions]="[10, 25, 50]"
      styleClass="p-datatable-customers p-datatable-gridlines"
      [paginator]="true"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [globalFilterFields]="['status', 'name', 'payment']"
    >
      <ng-template pTemplate="caption">
        <div class="flex">
          <span class="p-input-icon-left ml-auto">
            <i class="pi pi-search"></i>

            <input
              pInputText
              type="text"
              placeholder="Procurar afiliado"
              (input)="applyFilterGlobal($event, 'contains')"
            />
          </span>
        </div>
      </ng-template>

      <ng-template pTemplate="header">
        <tr>
          <th>Nome</th>
          <th>Situação</th>
          <th>Pagamento</th>
          <th style="width: 4rem">Editar</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-user>
        <tr>
          <td>{{ user.name }}</td>
          <td>{{ user.status }}</td>
          <td>{{ user.payment }}</td>
          <td>
            <button
              type="button"
              pButton
              icon="pi pi-user-edit"
              pRipple
              (click)="selectUser(user)"
            ></button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </main>
</div>

<p-dialog
  header="Editar informações"
  [(visible)]="display"
  [style]="{
    width: '500px'
  }"
>
  <h3>Nome do afiliado: {{ userSelectedName }}</h3>
  <p>Data do ultimo pagamento: {{ date | date: "fullDate":"":"pt-BR" }}</p>
  <p>Data de vencimento: {{ userSelectedPayment }}</p>
  <p-divider align="left" type="dashed">Registrar pagamento</p-divider>
  <div>
    <p-calendar
      [style]="{
        position: 'fixed',
        overflow: 'visible'
      }"
      [showIcon]="true"
      dateFormat="dd/mm/yy"
      [(ngModel)]="date"
      [minDate]="minDate"
      [readonlyInput]="true"
      inputId="check-payment"
    ></p-calendar>
    <p-button
      label="Registrar"
      icon="pi pi-check"
      iconPos="left"
      [style]="{
        float: 'right'
      }"
    ></p-button>
  </div>
</p-dialog>

<app-show-routes #modalChild></app-show-routes>
